@model GestionGimnasio.Models.tbClases

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Clases");
}
<div class="card">
    <div class="card-header" style="display:flex; justify-content:space-between">
        <h1>Detalles</h1>
        <div>
            <a asp-action="Index" class="btn btn-warning" disable="disable">
            <i class="fas fa-reply"></i>Volver</a>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Clase_Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clase_Nombre)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Clase_Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clase_Descripcion)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    Dias en que se imparte
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clase_Fecha)
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    Hora
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clase_HoraInicio) - @Html.DisplayFor(model => model.Clase_HoraFin)
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Clase_Capacidad)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Clase_Capacidad) personas
                </dd>
            </div>
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Emple)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Emple.Emple_PrimerNombre)
                </dd>
            </div>
        </dl>
        <dl class="row">
            <div class="col-sm-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Gimna)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gimna.Gimna_Nombre)
                </dd>
            </div>
        </dl>
    </div>
</div>
<div class="row"></div>
<div class="card">
    <div class="card-header">
        <h3>Auditoria</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Accion</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Creacion</th>
                    <td>@Html.DisplayFor(model => model.Usuar_CreacionNavigation.Usuar_Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Fecha_Creacion)</td>
                </tr>
                <tr>
                    <th>Modificacion</th>
                    <td>@Html.DisplayFor(model => model.Usuar_ModificacionNavigation.Usuar_Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Fecha_Modificacion)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
